<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <!--定义类型别名-->
    <aliases>
      <add alias="IProduct" type="UnityDemo.IProduct,UnityDemo" />
      <add alias="Milk" type="UnityDemo.Milk,UnityDemo" />
      <add alias="Sugar" type="UnityDemo.Sugar,UnityDemo" />
    </aliases>
    <!--容器-->
    <container name="MyContainer">
      <!--映射关系-->
      <register type="IProduct"  mapTo="Milk"></register>
      <register type="IProduct"  mapTo="Sugar" name="Sugar"></register>
    </container>
  </unity>
  <!--<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>-->
</configuration>